body {
    background: url('/imgs/Nature.jpg') no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

ul.menu{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.menu li {
    float: left;
    width: 200px;
    height: 40px;
    background-color: black;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 2px;
}

ul.menu li a {
    text-decoration: none;
    color: white;
    display: block;
}

ul.menu li a:hover {
    background-color: green;
}

ul.sub-menu li{
    display: none;
}

ul.menu li:hover ul.sub-menu li {
    display: block;
}